.App {
  text-align: center;
  width:49.9%;
  margin: auto;
  padding-bottom: 30px;
 border:2px solid gray;
 border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;
 background-color: black;
}
.main_div{
  height: 91vh;
  padding-top: 50px;
  color: #fff;
}
.header{
  display: flex;
  width:50.1%;
  margin: auto;
  color: #fff;
  font-weight: bold;

}

.heading1{
  border-bottom:2px solid silver;
  border-left:2px solid silver;
  border-top:2px solid silver;
  border-top-left-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:60%;
  cursor: pointer;
  background-color: black;

}

.head{
  border-bottom:3px solid  green;
  border-left:2px solid silver;
  border-top:2px solid silver;
  border-top-left-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  cursor: pointer;
  background-color: black;
}

.heading2{
  border-bottom:2px solid silver;
  border-right:2px solid silver;
  border-top:2px solid silver;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  cursor: pointer;
  background-color: black;
}

.head2{
  border-bottom:3px solid green;
  border-right:2px solid silver;
  border-top:2px solid silver;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px;
  width:52%;
  font-weight: bold;
  cursor: pointer;
  background-color: black;

}
.timer{
  width:50%;
  margin: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
